/Bending Spoons code.py
/Codecademy - Linear Regression.py
/Codecademy - Portfolio Project - US Medical Insurance Costs.py
/EE 2 PS2.py
/insurance.csv
/Password Bank.xlsx
/Password finder.py
/Repeat check.py
/testing.py